# Copiar este archivo a .env y completar con tus credenciales de Spotify
# https://developer.spotify.com/dashboard
VITE_SPOTIFY_CLIENT_ID=tu_client_id_aqui
VITE_SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
